/* Fondo general */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* LOGO CENTRADO ARRIBA (10 cm aprox = 140 px) */
.logo-app {
    width: 350px;          /* tamaño moderado */
    margin-top: 40px;
    margin-bottom: 30px;
}

/* Panel */
.panel {
    background: white;
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Título */
.panel-login h1 {
    font-weight: bold;
    margin-bottom: 25px;
}

/* Inputs */
.form-grid input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Botón Mostaza */
.btn-mostaza {
    background-color: #d4a017;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-mostaza:hover {
    background-color: #b3860e;
}
